<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DatabaseFirstMovieDBEntities" connectionString="metadata=res://*/MovieEntity.csdl|res://*/MovieEntity.ssdl|res://*/MovieEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIT-VAIO-7;initial catalog=DatabaseFirstMovieDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseFirstMovieDBEntities1" connectionString="metadata=res://*/MovieEntity.csdl|res://*/MovieEntity.ssdl|res://*/MovieEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIT-VAIO-7;initial catalog=DatabaseFirstMovieDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->    
    <!--<add name="DatabaseFirstMovieDBEntities" connectionString="metadata=res://*/MovieEntity.csdl|res://*/MovieEntity.ssdl|res://*/MovieEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CIT-VAIO-7;initial catalog=DatabaseFirstMovieDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DatabaseFirstMovieDBEntities2" connectionString="metadata=res://*/MovieEntity.csdl|res://*/MovieEntity.ssdl|res://*/MovieEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-QRVN7J88;initial catalog=Database_First_MovieDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DatabaseFirstMovieDBEntities" connectionString="metadata=res://*/MovieEntity.csdl|res://*/MovieEntity.ssdl|res://*/MovieEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-QRVN7J88;initial catalog=Database_First_MovieDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>